
					<div class="blocktext">

					<form ng-submit="login(email, password)">
						<div class="aw-simple-panel">


							<div class="aw-simple-panel__message">
								Por favor, faça o login.
							</div>



							<div class="aw-simple-panel__box">
								<div class="form-group  has-feedback">
									<input   name="email" ng-model="email" type="email" placeholder="Email" required
									class="form-control  input-lg" autofocus="autofocus" />
									<span class="glyphicon  glyphicon-envelope  form-control-feedback"></span>
								</div>

								<div class="form-group  has-feedback">
									<input name="password" ng-model="password" type="password" placeholder="Password" required
									 class="form-control  input-lg"/>
									<span class="glyphicon  glyphicon-lock  form-control-feedback" ></span>
								</div>
								
								<div class="form-group">
								
									<button type="submit" class="btn  btn-primary  btn-lg  aw-btn-full-width" >Entrar</button>
                                  


								</div>
							</div>


						</div>
					</form>
