




    <form name="theForm" novalidate  ng-submit="saveUser(user)" >
                                       <center>{{msg}}</center>




        <label>Nome</label>
        <input type="text" placeholder="Name" ng-model="user.name"required  >



      </div>

      <div ng-class="{'has-error': theForm.email$touched && (theForm.email.$error.required) , 'has-success':theForm.email.$valid}">
        <label>Email</label>
        <input type="email" placeholder="Email" ng-model="user.email" required name="email">
          <span ng-show="theForm.email.$touched && theForm.email.$error.required" class="label label-danger">Ex: nome@gmail.com</span>
      </div>

      <div ng-class="{'has-error': theForm.fone$touched && (theForm.fone.$error.required) , 'has-success':theForm.fone.$valid}">
        <label>Telefone</label>
        <input type="text" placeholder="Telefone" ng-model="user.telefone" required name="fone">
          <span ng-show="theForm.fone.$touched && theForm.fone.$error.required" class="label label-danger">Ex: (34)996543123</span>
      </div>

      <div ng-class="{'has-error': theForm.password.$touched && (theForm.password.$error.required || theForm.password.$error.minlength) , 'has-success':theForm.password.$valid}">
        <label>Senha</label>

        <input    type="password" placeholder="Password" ng-model="user.password"  name="password"
        class="form-control"  required ng-minlength=4 maxlength="4" >

        <span ng-show="theForm.password.$touched && theForm.password.$error.required" class="label label-danger">Ex: ****</span>
        <span ng-show="theForm.password.$touched && theForm.password.$error.minlength" class="label label-danger">
          *Apenas  4 Dígitos Ex: **** faltam {{4- theForm.password.$viewValue.length}}</span>



      </div>




      <button  type="submit" > Salvar </button>
      <button type="button" ng-click="hide()">Cancelar</button>
      <input type="button" value="Voltar" onClick="history.go(-1)">



    </form>
    <!--
    <pre >{{permissionEdit|json}}</pre>
-->

  </div>
