

  <form ng-submit="saveUser(user)" ng-hide="!showAddEditUser">


    <div>
      <label>Name</label>
      <input type="text" placeholder="Name" ng-model="user.name" minlength="4" maxlength="120" required>
    </div>

    <div>
      <label>Email</label>
      <input type="email" placeholder="Email" ng-model="user.email" maxlength="255" required>
    </div>

    <div>
      <label>Email</label>
      <input type="text" placeholder="Telefone" ng-model="user.telefone" maxlength="255" required>
    </div>

    <div>
      <label>Password</label>
      <input type="password" placeholder="Password" ng-model="user.password" minlength="4" maxlength="30" required>
    </div>



    <button type="submit">Save</button>
    <button type="button" ng-click="hide()">Cancel</button>
  </form>

  <div>
    <br/><h3>Users</h3>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Telefone</th>

          <th>Permissions</th>

          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
            <td>{{ user.telefone }}</td>

          <td>
            <div ng-repeat="permission in user.permissions">{{ permission.role | formatPermission}}</div>
          </td>
          <td><button ng-click="editUser(user)">Edit</button></td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
